.mobile-menu {
  z-index: 999;
}

.left,
.hamburger {
  position: absolute;
  width: 20%;
  padding: 20px 0 10px;
  display: inline-block;
  cursor: pointer;
  transition: .2s, ease-in-out, .2s;
  -webkit-transition: .2s, ease-in-out, .2s;
  -moz-transition: .2s, ease-in-out, .2s;
  -ms-transition: .2s, ease-in-out, .2s;
  -o-transition: .2s, ease-in-out, .2s;
  text-transform: none;
  background-color: transparent;
  margin: 30px 0 0;
  z-index: 99;
  text-align: center; }
  .hamburger:hover {
    border-radius: 8px; }

.left {
  right: 80%;
  background: none;
}

.hamburger {
  right: 10%;
  border: 2px solid #e5e5e5
}

.hamburger-box {
  width: 100%;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
    position: absolute;
    left: calc(50% - 15px);
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger:hover .hamburger-inner::before,
  .hamburger:hover .hamburger-inner,
  .hamburger:hover .hamburger-inner::after,
  .left:hover .hamburger-inner::before,
  .left:hover .hamburger-inner,
  .left:hover .hamburger-inner::after  {
    background: #f8665c !important;
  }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.1s 0.14s ease, opacity 0.1s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

